<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand main-title" routerLink="/">Peluqueria FCFM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto"> <!-- ml-auto es para que se vaya a la derecha-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/empleados" routerLinkActive="active"><i class="fas fa-user-alt"></i>
            Empleados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientes" routerLinkActive="active"><i class="far fa-address-book"></i>
            Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cosmeticos" routerLinkActive="active"><i class="fas fa-shopping-bag"></i>
            Cosmeticos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
