<app-hero></app-hero>

<h2 class="mb-5 mt-5 text-center">Citas</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Fecha y Hora</th>
      <th scope="col">Cliente</th>
      <th scope="col">Empleado</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cita of citas">
      <th scope="row">{{ cita.fecha_hora }}</th>
      <td>{{cita.nombre_cliente}}</td>
      <td>{{cita.nombre_empleado}}</td>
      <td><a class="btn bg-danger" (click)="deleteCita(cita.id)"><i class="far fa-trash-alt"></i></a></td>
    </tr>
  </tbody>
</table>



