<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active img-actual">
      <img class="d-block w-100 img-peluqueria" src="assets/peluqueria1.jpg" alt="First slide">
      <div class="carousel-content">
        <h2 class="title">La guarida del bisonte</h2>
        <p class="text-light">Ofreciendo el mejor servicio desde 1969</p>
      </div>
    </div>
    <div class="carousel-item img-actual">
      <img class="d-block w-100 img-peluqueria" src="assets/peluqueria2.jpg" alt="Second slide">
      <div class="carousel-content">
        <h2 class="title">La guarida del bisonte</h2>
        <p class="text-light">Ofreciendo el mejor servicio desde 1969</p>
      </div>
    </div>
    <div class="carousel-item img-actual">
      <img class="d-block w-100 img-peluqueria" src="assets/peluqueria3.jpg" alt="Third slide">
      <div class="carousel-content">
        <h2 class="title">La guarida del bisonte</h2>
        <p class="text-light"> Ofreciendo el mejor servicio desde 1969</p>
      </div>
    </div>
  </div>
</div>
